#!/usr/bin/expect -f

# Thanks to Glenn Jackman on stack overflow for helping me with this script

set timeout -1
spawn sudo /tmp/{{ wowza_version }}-linux-x64-installer.run
send -- "y\r"
expect {
    -gl "*Press*to continue*" { send -- "\r"; exp_continue }
    -ex "Do you accept this agreement?"
}
send -- "y\r"
expect -gl "*License Key: "
send -- "{{ wowza_license_key }}\r"
expect -gl "*User Name: "
send -- "{{ wowza_user_name }}\r"
expect -gl "*Password: "
send -- "{{ wowza_password }}\r"
expect -gl "*Confirm Password: "
send -- "{{ wowza_password }}\r"
expect -ex "Start Wowza Streaming Engine automatically "
send -- "y\r"
expect -ex "Do you want to continue?"
send -- "y\r"


expect eof
